*{
  box-sizing: border-box;
  padding:0;
  margin: 0%;
  font-family: 'Montserrat', sans-serif;
}

img.Group-14295 {
  width: 1440px;
  height: 76px;
  margin: 0 0 38px;
  padding: 0 0 1px;
  object-fit: contain;
  /* background-color: black; */
}
.Rectangle-6498 {
  width: 1440px;
  height: 75px;
  padding: 20px 100px 19.6px;
  -webkit-backdrop-filter: blur(30.7px);
  backdrop-filter: blur(30.7px);
  background-color: var(--white);
}

.Be-prepared-for-the-Mountains-and-beyond {
  width: 504px;
  height: 110px;
  margin: 24px 149px 48px 189px;
  object-fit: contain;
  font-family: Montserrat;
  font-size: 45px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: rgba(0, 0, 0, 0.75);
}

.Career-Counselling {
  width: 84px;
  height: 36px;
  margin: 17px 52px 44px 59px;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: rgba(0, 0, 0, 0.75);
}



.Equipment {
  width: 214px;
  height: 19px;
  margin: 01px 90px 10px ;
  object-fit: contain;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #f36326;
}


.Equipment {
  width: 214px;
  height: 19px;
  margin: 48px 90px 23.9px 53px;
  object-fit: contain;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #f36326;
}
-\32{
  width: 566px;
  height: 646px;
  margin: 0 32px 0 140px;
  padding: 448px 40px 148px 308px;
  object-fit: contain;
  opacity: 0.75;
}



img.Group-14980 {
  width: 36.3px;
  height: 31.8px;
  margin: 23.9px 76.9px 17.3px 218.9px;
  object-fit: contain;
}

img.Group-14981 {
  width: 33px;
  height: 32px;
  margin: 24px 78px 17px 84px;
  object-fit: contain;
}

img.Group-14985 {
  width: 29.5px;
  height: 31.4px;
  margin: 24px 99.6px 17.6px 84.9px;
  object-fit: contain;
}

img.Group-14987 {
  width: 32px;
  height: 32px;
  margin: 24px 162px 17px 76px;
  object-fit: contain;
}